name: adnamap CI
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  push:
    branches:
      - dev
      - master
  pull_request:
  release:
    types: [published]

env:
  NXF_ANSI_LOG: false
  CAPSULE_LOG: none

jobs:
  test:
    name: Run pipeline with test data
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'maxibor/adnamap') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Nextflow versions
        include:
          - NXF_VER: "21.10.3"
            NXF_EDGE: ""
          - NXF_VER: ""
            NXF_EDGE: "1"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v2

      - name: Install Nextflow
        env:
          NXF_VER: ${{ matrix.NXF_VER }}
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

      - name: Run pipeline with test with fastp deduplication
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --outdir ./results
      - name: Run pipeline with test with picard markdup
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --outdir ./results --deduplicate mark
